:javascript
  App.initial_state = {
    session: {
      user: #{raw current_user.present? ? current_user.secure_copy.to_json : "null"},
      person: #{raw current_user.present? ? current_user.person.to_json : "null"},
    },
  }
